* {
        margin: 0;
        padding: 0;
}

html, body {
        font-size: 16px;
        line-height: 20px;
        width: 100%;
        height: 100%;
        text-align: justify;
	background-color: #55a1d5;
}

header {
	padding: 10px 0 20px 0;
	margin: 10px 0 0 0;
	background-color: white;
}

hgroup {
	height: 298px;
	border: 1px solid #55a1d5;
	text-align: center;
}

.logo {
	height: 298px;
	background: url('/site/img/aquila.jpg') no-repeat top right; 
	background-size:298px 298px;
	border: 1px solid #55a1d5;
}

h1, h2, h3, h4, h5, h6 {
	color: #55a1d5;
}

h1 {
	font-size: 100px;
	line-height: 160px;
}

h2 {
	font-size: 40px;
	line-height: 40px;
}

h3 {
	font-size: 32px;
	line-height: 40px;
}

a {
	color: black;
}

a:hover {
	text-decoration: underline;
	color: #55a1d5; 
}

a.current {
	color: #55a1d5;
}

h1 a {
	text-decoration: none;
	color: black;
}

h1 a:visited {
	color: black;
}

img.iuliinetlogo {
	width: 298px;
	height: 298px;
	border: 1px solid #55a1d5;
}

img.banner {
	margin-bottom: 20px;
	width: 300px;
	height: 60px;
	border: 0;
}

section {
	background-color: white;
}

.social {
	position:fixed;
	left: 10px;
}

.path {
	margin: 20px 0 0 0;
}

.tt-widget {
	margin-bottom: 20px;
}

footer {
	background-color: white;
}

.foot {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #55a1d5;
	height: 39px;
	text-align: center;
}
