* {
        margin: 0;
        padding: 0;
}

html, body {
        font-size: 16px;
        line-height: 20px;
        width: 100%;
        height: 100%;
        text-align: justify;
	background-color: grey;
}

header {
	padding: 20px 0 20px 0;
	background-color: white;
}

hgroup {
	height: 298px;
	border: 1px solid black;
	text-align: center;
}

.logo {
	height: 298px;
	background: url('/site/img/aquila.jpg') no-repeat top right; 
	background-size:298px 298px;
	border: 1px solid black;
}

h1 {
	font-size: 100px;
	line-height: 160px;
	color: lightblue;
}

h2 {
	font-size: 40px;
	line-height: 40px;
}

h3 {
	font-size: 32px;
	line-height: 40px;
}


a {
	color: black;
}

a:hover {
	text-decoration: underline;
	color: blue; 
}

a:visited {
	color: black;
}

a.current {
	color: blue;
}

h1 a {
	text-decoration: none;
}

section {
	background-color: white;
}

article {
	margin: 20px 0 0 0;
}

.path {
	margin: 20px 0 0 0;
}

footer {
	background-color: white;
}

.foot {
	border-top: 1px solid black;
	height: 39px;
	padding-top: 20px;
	text-align: center;
}
